@import "_fuentes";

@import "_colores";

@media only screen and (min-width: 350px) {

    .menuBar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        min-height: 1em;

        
        
        .enlacesSitio {
            justify-self: flex-end;
            align-self: center;
            min-height: 1em;
            list-style: none;
            font-size: 1.5rem;
            font-family: $font1;
            font-weight: bold;
            color: $color5;
        }
    }

}